.container{
    width: 90%;
    margin: 0 auto;
}

.container-home{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C63FF; 
}

.container-home div{
    text-align: center;
}

.title-home, .text-home{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.home-social{
    margin-top: 15px;
}

.home-social a{
    margin-left: 5px;
    margin-right: 5px;
}

.image-home{
    width: 250px;
    margin-top: 40px;
    margin-bottom: 0px;
    border: 3px solid white;
    border-radius: 50%;
}

@media only screen and (min-width: 800px) {
    .title-home{
        font-size: 35px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .text-home{
        margin-top: 5px;
        font-size: 20px;
        margin-bottom: 5px;
    } 
}

@media only screen and (max-width: 800px) {

    .title-home{
        font-size: 30px;
        margin-bottom: 15px;
    }

    .text-home{
        font-size: 20px;
    }

    .image-home{
        width: 200px;
        margin-top: 40px;
        margin-bottom: 10px;
    }
}