.profile{
    background: #064acb;
    padding: 40px;
    color: white;
    margin-bottom: 10px;
}

.profile-photo{
    border-radius: 50%;
    margin: 10px;
    border: 3px solid #273036;
}

.images-social{
    margin: 10px;
}

.section-info{
    margin-top: 20px;
    padding: 10px;
}

.skills{
    margin-top: 30px;
    padding: 15px;
    background: #366ed8;
    color: white;   
    
}

.ability{
    padding: 10px;
    margin: 15px;
    background: white;
    color: black
}

.footer{
    margin-top: 60px;
    background: #273036;
    padding: 20px;
    color: white;
    text-align: center;
}

.projects{
    background: #064acb;
    color: white;
    padding: 60px;  
    margin-bottom: 30px;
}

.container-project{
    padding: 20px;
    margin: 10px;
}

.all-projects{
    background: #366ed8;
    color: white;
}